!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-Frame-Options" content="SAMEORIGIN")
    %title FaviconBox
    %style
      :sass
        html
          :color #222
        h1
          :font-size large
          :padding-bottom 5px
          :border-bottom 1px solid #555
        label
          :cursor pointer
    %script(src="option.js")
  %body
    %h1 FaviconBox
    %label
      %input(name="always_open_in_new_tab" type="checkbox") Always open in new tab.
